[submodule "shower-core"]
	path = vendor/shower-core
	url = git@github.com:shower/core.git
[submodule "shower-themes/bright"]
	path = vendor/shower-themes/bright
	url = git@github.com:shower/bright.git
[submodule "shower-themes/ribbon"]
	path = vendor/shower-themes/ribbon
	url = git@github.com:shower/ribbon.git
