!!!5
%html{lang: 'en'}
  %head
    %title Shower Presentation Engine
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=792, user-scalable=no'}
    %meta{'http-equiv' => 'x-ua-compatible', content: 'ie=edge'}
    %link{rel: 'stylesheet', href: 'vendor/shower/ribbon/styles/screen.css'}
    %link{rel: 'stylesheet', href: 'assets/css/demo.css'}

  %body.full
    %header.caption
      %h1 Shower Presentation Engine
      %p Yours Truly, Famous Inc.

    %section#Cover.slide.cover
      %div
        %h2 Shower Presentation Engine
        %p Brought to you by <a href="http://pepelsbey.net">Vadim Makeev</a>
        %img{src: 'https://raw.githubusercontent.com/shower/shower/master/pictures/cover.jpg', alt:''}

    %p.badge
      %a{href: 'https://github.com/shower/shower'} Fork me on Github

    /
      To hide progress bar from entire presentation
      just remove “progress” element.
    .progress
      %div

    %script{src: 'vendor/shower/core/shower.min.js'}
    %script{src: 'assets/js/demo.js'}
